## Ignore Mac OS files
.DS_Store

## Node.js
node_modules/
npm-debug.log
yarn-error.log

## Database
data/
*.db
*.sqlite
*.sqlite3

## Environment variables
.env
.env.local
.env.*.local

## Logs
logs/
*.log